# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
apicache-py3/
# virtual environment
.venv/

# other
.DS_Store
.env
*.pyc
.vscode/
test/
trash*
*.ctrl
.idea/
# Database
*.db
*.sqlite3
db.sqlite3
