# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
apicache-py3/
# virtual environment
.venv/
.*-env/
# other
.DS_Store
.env 
.env
*.pyc
.vscode/
test/
trash*
*.ctrl
.idea/
.flake8
# Database
*.db
*.sqlite3
db.sqlite3
node_modules/