<dialog id="rslt_modal">
  <article>
    <header>
    </header>
    <div style="display: flex; width: 100%;">
      <div id="head_image" style="width: 50%;">
      </div>
      <div id="table_div" style="width: 40%;">
      </div>
    </div>
    <article >
      <header style="text-align: center;">
        <p id="flower_p_name"> </p>
      </header>
      <main style="display: flex;">
        <div id="wiki_desc">
        </div>
        <div id="wiki_img" style="width: 100%;">
        </div>
      </main>
    </article>
    <footer></footer>
  </article>
</dialog>