html {
    font-size: 16px;
    font-family: Arial, sans-serif;
    overflow-x: hidden ;
  }
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}