{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme='dark'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flowerz{% endblock title %}</title>
      <!--Import pico.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/pico.css' %}"  media="screen,projection"/>             
      <!--project base css -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
      <!--app css-->
    {% block style %}{% endblock style %}
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  </head>
<body> 
    <nav>
      <ul>
        <li><strong>Acme Corp</strong></li>
      </ul>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><button class="secondary">Products</button></li>
      </ul>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% block script %}
    {% endblock script %}
</body>
</html>