article {
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
#header-flower-title span {
    font-style: italic;
    text-decoration: underline;
}
header > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 45%;
}

details summary {
    width: max-content;
    float: right;
    clear: right;
}

.description-div {
    display: flex;
    flex-direction: row;
    text-align: left;

}
.img-small {
    margin: 2rem 1rem 1rem 0;
    display: block;
    width: 30%;
    height: 30%;
  }
  

.footer {
    text-align: right;
    font-size: small;
    font-style: oblique;

}
.description-text-div {
    margin-top: 2rem;
    color: aquamarine;
    width: 70%;
}

#header-flower-img:hover {
    transition: 500ms;
    cursor: pointer;
    opacity: 0.7;
}


@media (max-width: 740px ) {
    article {
        width: 100%;
    }
    header {
        flex-direction: column-reverse;
    }
    header > div {
        width: 100%;
    }
    .description-div {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .img-small {
        width: 100%;
        margin: 2rem 0 0 3rem;
        display: flex;
    }
    .description-text-div{
        width: 100%;
        margin: 1rem 0 0 3rem;

    }
}