dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    margin: auto;
}

/* Add Animation */
dialog img ,#caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }