.mc-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: max-content;
    padding: 0!important;
    margin-top: 1rem;
} 

.mc-article input {
    width: auto;
    min-width: 30%;
    margin: 0 1rem 0 1rem;

}
.mc-article button {
    width: auto;
    margin: 0 1rem 0 1rem;
}