{% extends 'base.html' %}
{% load static  %}

{% block title %}Predict{% endblock title %}
{% block content %} 

<div id="main_container">
  <article id="form_article">
      <div id="div_form">
        <form id="predict_form"method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Upload</button>
        </form>
      </div>
  </article>

  <article id="div_result">
      <header id="sub_result">
        <div id="close-icon-container">
          <img id="close-icon" src="{% static 'predict/assets/x-circle.svg' %}" alt="icon" srcset="">
        </div>
        <div id="div_result_images">
        </div>
        <div id="div_result_prediction">
        </div>
      </header>
      <a style="display: none;" id="result_loading" href="#" aria-busy="true">Your link is being generated...</a>
        <div id="div_result_title"></div>
        <div id="div_result_infos">
        </div>
      <footer >
        <div id="div_result_description">
        </div>
      </footer>
  </article>
</div>


{% endblock content %}