{% extends 'base.html' %}
{% load static  %}

{% block title %}Predict{% endblock title %}
{% block content %}

<div id="main_container">
  <article id="form_article">
      <div id="div_form">
        <form id="predict_form"method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Upload</button>
        </form>
      </div>
  </article>

<article id="div_result">
  
  <header id="sub_result">
    <div id="div_result_images">
    </div>
    <div id="div_result_prediction">
    </div>
  </header>
  <a  id="predict_progress" href="#" aria-busy="true">Generating link, please wait…</a>
  <div id="div_result_title"></div>
  <div id="div_result_infos">
    
  </div>
  <footer >
    <div id="div_result_description">
    </div>
  </footer>

</article>
</div>


{% endblock content %}